* {
    padding: 0;
    margin: 0;
    font-family: 'space Grotesk,';
    box-sizing: border-box;
    text-decoration: none;
}

/* nav bar */
.menu {
    display: flex;
    margin: 40px 100px 20px 70px;
    justify-content: space-between;
}

#logo {
    font-size: 35px;
    font-family: 'Oleo Script';
}

.navlinks {
    display: flex;
    gap: 100px;
    font-size: 23px;
}

.navlinks p:hover {
    color: #2549D3;
    transition: all 0.4s ease 0s;
}

#button {
    background-color: #2549D3;
    color: white;
    padding: 12px 25px 12px 25px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

/* about section*/
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 40px 70px 0 70px;
}

.about-image {
    width: 100%;
}

.about-image img {
    width: 100%;
}

.about-text {
    width: 100%;
}

.about-text h1 {
    font-size: 80px;
    color: #0F298B;
}

.about-text p {
    font-size: 43px;
    padding: 15px 0 40px 0;
    line-height: 60px;

}

.about-buttons {
    display: flex;
    gap: 50px;

}

.about-buttons i {
    color: #0F298B;
    font-size: 50px;
}

.about-property {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    margin: 30px 100px 20px 100px;
    height: 20vh;
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 7px;

}

/* about product */
.about-product {
    width: 90%;
    margin: 40px 70px 0 70px;
}

.about-product h1 {
    font-size: 50px;
    color: #0F298B;

}

.about-product h2 {
    font-size: 50px;
    color: #0F298B;
    text-align: center;
}

.about-product p {
    font-size: 30px;
    text-align: center;

}


/* About how it works */
.about-payments {
    display: flex;
    width: 70%;
    margin: 30px 200px 20px 200px;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
    padding-bottom: 200px;
}

.find-home img {
    padding-right: 100px;
    width: 100%;

}

.find-home h2 {
    text-align: center;
    padding-right: 100px;
}

.find-home p {
    text-align: center;
    padding-right: 100px;

}

/* about payments   */
.makepayments {
    background-color: #FAFAFA;
    margin: 30px 10px 30px 0px;
    box-shadow: 4px 2px 4px 4px grey;
    border-radius: 7px;
}

.makepayments img {
    padding-right: 100px;
    width: 100%;
}

.makepayments h2 {
    text-align: center;
    padding-right: 100px;
}

.makepayments p {
    text-align: center;
    padding-right: 100px;
}

about official .make-official img {
    padding-right: 100px;
}

.make-official h2 {
    text-align: center;
    padding-right: 100px;
}

.make-official p {
    text-align: center;
    padding-right: 100px;
}

/* about why choosing us  */
.about-choosing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 40px 70px 0 70px;
    padding-bottom: 200px;

}

.about-image {
    width: 100%;
}

.about-choosing img {
    width: 100%;
}

.about-text {
    padding-top: 80px;
    padding-left: 80px;
    width: 100%;
}

.about-text h1 {
    font-size: 40px;
    color: #0F298B;
}

.about-text p {
    font-size: 30px;
    padding: 15px 0 40px 0;
    line-height: 60px;
}

.lifestyle i {
    color: #2549D3;
    display: inline-block;
}

.about-featured {
    padding-bottom: 200px;

}

.about-featured h1 {
    color: #2549D3;
    text-align: center;
}

.about-featured p {
    text-align: center;
    font-size: 30px;
}

.properties {
    display: flex;
    width: 70%; 
   border-radius: 7px;
   padding-left: 150px;
   padding-right: 150px;
}